body {
  background-color: #e0e0e0a3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cormorant Infant', serif;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}